@import "bootstrap/scss/bootstrap";

@import "./Navbar.scss";
@import "./HomePage.scss";
@import "./ContactPage.scss";
@import "./AboutPage.scss";
@import "./GalleryPage.scss";
@import "./AdminGallery.scss";

@font-face {
  font-family: "Kingred";
  src: url("/fonts/Kingred.otf") format("opentype");
}

@font-face {
  font-family: "Tan Meringue";
  src: url("/fonts/TanMeringue.otf") format("opentype");
}

body {
  background-color: #fffacd;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

h1 {
  font-family: "Tan Meringue";
  color: #7a4e4e;
  font-size: 30px;
  // margin-left: 20px;
  text-transform: uppercase;
  margin: 3rem 0 3rem 1.5rem;
}

.loading-spinner {
  margin: 100px 0;
  span {
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #fffce3;
}

::-webkit-scrollbar-thumb {
  background: #fd7f32;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffbd59;
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 9rem;
  }
}
