.login-page {
  .container {
    .card {
      border: none;
      .card-body {
        .card-title {
          color: #7a4e4e;
          font-family: "Tan Meringue", sans-serif;
          font-size: 25px;
          margin: 15px 0;
        }

        .formgroup {
          margin-top: 2rem;
          color: #7a4e4e;
          font-family: "Kingred", sans-serif;

          .form-control {
            border: #7a4e4e 1px solid;
            border-radius: 10px;
          }
        }

        .btn {
          color: #7a4e4e;
          border: #7a4e4e 1px solid;
          font-family: "Kingred", sans-serif;
          margin-top: 2rem !important;
        }
      }
    }
  }
}
