.login-page {
  .container {
    .card {
      border: none;
      margin: 0 20px;
      .card-body {
        .card-title {
          color: #7a4e4e;
          font-family: "Tan Meringue", sans-serif;
          font-size: 25px;
          margin: 15px 0;
        }

        .formgroup {
          margin-top: 2rem;
          color: #7a4e4e;
          font-family: "Kingred", sans-serif;

          .password-flex {
            display: flex;
            align-items: center;

            svg {
              margin-left: -40px;
              font-size: 25px;
            }
          }

          .form-control {
            border: #7a4e4e 1px solid;
            border-radius: 10px;
          }
        }

        .btn {
          color: #7a4e4e;
          border: #7a4e4e 1px solid;
          font-family: "Kingred", sans-serif;
          margin-top: 2rem !important;

          &:hover {
            background-color: #7a4e4e;
            color: white;
          }
        }
      }
    }
  }
}
