.navbar {
  padding-top: 0;
  align-items: start;

  .toggler-box {
    .navbar-toggler {
      cursor: pointer;
      border: none;
      border-radius: 100%;
      font-size: 50px;
      padding: 10px;
      color: #fffacd;
      background-color: #fd7f32;
      margin: 2rem;
    }
  }

  .navbar-collapse {
    justify-content: center;

    .mobile-nav {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .nav-link {
        color: #7a4e4e;
      }
    }

    .nav-link {
      margin: 15px 10px;
      font-family: "Kingred", sans-serif;
      color: #fffacd;
      position: relative;
      padding: 4px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fffacd;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.5s ease-in-out;
      }

      &:hover::after,
      &.active::after {
        transform: scaleX(1);
      }
    }
  }
}

.navbar-blob-mobile {
  width: 60%;
}

.navbar-blob {
  position: absolute;
  width: 100%;
  margin-top: -20px;
  z-index: -1;
  text-align: center;

  img {
    width: 660px;
  }
}

.navigation {
  margin-bottom: 5rem;

  .logo {
    width: 130px;
    position: absolute;
    margin: 10px;
    margin-left: 10px;
    margin-top: 20px;

    img {
      width: 100%;
    }
  }
}
